[Unit]
Description=Surfboard Surfline Scraper
After=network-online.target

[Service]
ExecStart=/home/pi/surfboard_scraper/surfboard_scraper
WorkingDirectory=/home/pi/surfboard_scraper/
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
