[Unit]
Description=Surfboard Surfline Scraper
After=network-online.target

[Service]
ExecStart=/opt/surfboard_scraper/surfboard_scraper
WorkingDirectory=/opt/surfboard_scraper
StandardOutput=inherit
StandardError=inherit
Restart=always
User=root

[Install]
WantedBy=multi-user.target
